body {
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-size: 100px;
}

td {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.cell {
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.card {
    border: 2px solid darkolivegreen;
}

.mb-4 {
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-header {
    background-color: black;
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.card-body {
    background-color: black;
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.form-control {
    margin-left: 15px;
}

.input-group {
    margin-top: 10px;
}

.btn-secondary {
    margin-top: 20px;
    background-color: darkolivegreen;
    border: solid 1px black;
}

.btn-secondary:hover {
    background-color: darkolivegreen;
    color: black;
    border: 1px solid darkolivegreen;
}

.btn-secondary:visited {
    background-color: darkolivegreen;
    color: black;
    border: 1px solid darkolivegreen;
}